@import '@/styles/variables';
@import '@/styles/mixins';

// Items List
.list {
  font-size: 1.6rem;
  list-style: none;
  color: $color-text-primary-dark;

  border-radius: 0.6rem;
  border: 1px solid $color-skeleton;
  margin-bottom: 2.5rem;
  & > * + * {
    border-top: 1px solid $color-skeleton;
  }

  li {
    padding: 1.5rem;
  }
}

// Modal
.modal {
  width: 25%;
  min-width: 25rem;
}

.modal__btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  svg {
    height: 1.8rem;
    width: 1.8rem;
  }
}

// Form elements
.control {
  @include form-input;
  margin-top: 1rem;
}

.action {
  margin-top: 2rem;
  button {
    width: 100%;
    padding: 1rem;
  }
}

.error {
  @include form-error;
  transition: all ease;
}

// Dropdown menu operations
.separator {
  @include menu-separator;
}

.operation {
  cursor: pointer;
  border: 1px solid $color-skeleton;
  color: $color-text-primary-dark;
  padding: 1rem;
  background-color: $color-background;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-skeleton;
  }

  svg {
    height: 1.7rem;
    width: 1.7rem;
  }
}

.edit {
  @include dropdown-menu-item;
  color: $color-text-primary-dark;
}

.delete {
  @include dropdown-menu-item;
  color: $color-error-light;
}

// EmptyPlaceholder
.empty-list {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  align-items: center;
  border: 1px solid $color-skeleton;
  border-radius: 6px;
  gap: 1rem;

  h3 {
    color: $color-text-primary-dark;
  }

  p {
    color: $color-text-primary-light;
    font-size: 1.5rem;
  }
  span {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    svg {
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  .action {
    margin-top: 2rem;
    button {
      font-size: 1.6rem;
      padding: 1rem 2rem;
    }
  }
}
