@import '@/styles/variables';

.container {
  margin-left: -2rem;
}

.link {
  font-size: 1.4rem;
  color: $color-text-primary-dark;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 500;
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  transition: all ease;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  &:hover {
    background-color: $color-skeleton;
  }
}

.content {
  text-align: center;
  margin-top: 2rem;
}
