@import '@/styles/variables';
@import '@/styles/mixins';

.overlay {
  @include overlay;
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: $color-text-primary-light;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.close:hover {
  color: $color-text-primary-dark;
}
