@import '@/styles/variables';

.primary {
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: $color-primary;
  border: 1px solid transparent;
  color: $color-background;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.2s;

  &:hover {
    background-color: $color-background;
    color: $color-primary;
    border-color: $color-primary;
  }

  &:disabled {
    background-color: lighten($color-primary, 10%);
    color: darken($color-background, 20%);
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
    border: 1px solid lighten($color-primary, 20%);
    transform: scale(0.98);
    transition: all 0.3s ease;
    text-shadow: 0 -1px 0 rgba(black, 0.25);

    &:hover {
      transform: scale(0.98);
      background-color: lighten($color-primary, 12%);
    }
  }
}
