@import '@/styles/variables';

.secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  color: $color-text-primary-dark;
  font-weight: 600;
  transition: all ease;

  &:hover {
    text-decoration: underline $color-primary;
  }
}
