@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.stopwatch {
  font-size: 1rem;
  color: $color-text-primary-dark;
  margin-top: 1.5rem;
}

.control {
  display: flex;
  gap: 1.4rem;

  input {
    flex: 1;
    padding: 0.75rem 1.5rem;
    font-size: 1.6rem;
    border: 1px solid $color-skeleton;
    border-radius: 6px;
    color: $color-text-primary-dark;

    &::placeholder {
      color: $color-text-primary-light;
    }

    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  height: 5rem;
  width: 5rem;
}

.settings {
  display: flex;
  gap: 1.4rem;
}

// $sm === 640px
@media screen and (max-width: $sm) {
  .container {
    gap: 3rem;
  }

  .control {
    margin-left: 0;
    gap: 2rem;
  }

  .form-input {
    min-width: 16rem;
    font-size: 1.2rem !important;
    padding: 0.8rem 1rem !important;
    &::placeholder {
      font-size: 1.2rem;
    }
  }

  .settings {
    height: 4rem;
    align-items: center;
    gap: 0rem;

    button {
      transform: scale(0.8);
    }

    .stopwatch {
      transform: scale(0.8);
      margin-top: 0;
    }
  }
}
