@import '@/styles/variables';

.item {
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  .content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 500;
    }
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .duration {
    color: $color-text-primary-dark;
    font-variant-numeric: tabular-nums;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: 1px solid transparent;
    background-color: $color-primary;
    color: #fff;
    border-radius: 100px;
    font-weight: 500;
  }
  .tag {
    color: $color-text-primary-dark;
    font-variant-numeric: tabular-nums;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: 1px solid transparent;
    background-color: $color-skeleton;
    border-radius: 100px;
    font-weight: 500;
  }
}
