@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  gap: 1rem;

  h2 {
    font-size: 2rem;
    color: $color-text-primary-light;
    text-align: center;
    font-weight: 400;

    span {
      color: $color-text-primary-dark;
      margin-left: 0.5rem;
      font-weight: 500;
    }
  }
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.bar {
  padding: 2rem;
  width: 80%;
}

.pie {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-skeleton;
  border-radius: 6px;
  padding: 2rem;
  width: 80%;
  gap: 10rem;

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }
}

.message {
  color: $color-text-primary-dark;
  font-size: 2.2rem;
  text-align: center;
}

.description {
  color: $color-text-primary-light;
  font-size: 1.6rem;
  text-align: center;
}
