@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 2rem;
    color: $color-text-primary-light;
    text-align: center;
    font-weight: 400;

    span {
      color: $color-text-primary-dark;
      margin-left: 0.5rem;
      font-weight: 500;
    }
  }
}

.charts {
  display: flex;
  align-items: center;

  .chart {
    max-width: 65rem;
  }
}
