@import '@/styles/variables';

.container {
  display: flex;
  gap: 6rem;
  margin: 0 auto;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 8rem);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  h1 {
    font-size: 5.2rem;
    font-weight: 700;
    color: $color-text-primary-dark;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $color-text-primary-light;
  }
}

.image {
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1rem 4rem rgba(black, 0.3);
  }
}

// $md === 768px
@media screen and (max-width: $md) {
  .container {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .text {
    h1 {
      font-size: 4rem;
    }
  }
}

// $sm === 640px
@media screen and (max-width: $sm) {
  .container {
    padding: 0 8%;
  }

  .text {
    gap: 2rem;

    h1 {
      font-size: 3.8rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      height: 80%;
    }
  }
}
