@import '@/styles/variables';

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3.2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    color: $color-text-primary-dark;
  }

  p {
    font-size: 1.8rem;
    color: $color-text-primary-light;
  }
}
