@import '@/styles/variables';
@import '@/styles/mixins';

.control {
  @include form-input;
}

.action {
  margin-top: 2rem;
  button {
    width: 100%;
    padding: 1rem;
  }
}

.error {
  @include form-error;
}

.disabled {
  @include btn-disabled;
}
