@import '@/styles/variables';

// Tag Styles
.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.6rem;
    color: $color-text-primary-dark;
    font-weight: 600;
  }
  .delete {
    display: none;
    font-weight: 600;
    border: none;
    background-color: $color-background;
    transition: display ease;

    svg {
      color: $color-primary;
      height: 1.7rem;
      width: 1.7rem;
    }
    cursor: pointer;
  }

  &:hover {
    .delete {
      display: block;
    }
  }
}

// Skeleton Styles
.divider {
  border-radius: 0.6rem;
  border: 1px solid $color-skeleton;
  & > * + * {
    border-top: 1px solid $color-skeleton;
  }
}

.container {
  padding: 1.5rem;
}

.skeleton {
  height: 2rem;
}
