@import '@/styles/variables';

.auth {
  width: 95%;
  max-width: 40rem;
  margin: 7rem auto;
  border-radius: 10px;
  padding: 1.2rem;
  text-align: center;

  & h1 {
    text-align: center;
    font-size: 2rem;
    color: $color-text-primary-dark;
    margin-bottom: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.4px;
  }

  &-form {
    font-size: 1.3rem;
  }
}

.control {
  margin-bottom: 2.5rem;
  & label {
    display: block;
    text-align: left;
    color: $color-text-primary-dark;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  & input {
    background-color: $color-white;
    color: $color-text-primary-dark;
    border-radius: 8px;
    border: 1.5px solid $color-primary;
    width: 100%;
    max-width: 45rem;
    text-align: left;
    padding: 1rem;

    &::placeholder {
      color: $color-text-primary-light;
    }

    &:focus {
      outline-style: double;
      outline-color: $color-primary-light-2;
    }
  }
}

.actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    width: 100%;
    padding: 1rem;
  }

  & .toggle {
    margin-top: 2rem;
    background-color: transparent;
    color: $color-primary-light-1;
    border: none;
    padding: 0.5rem 3rem;

    &:hover {
      background-color: transparent;
      color: $color-primary-dark;
    }
  }
}
.submitting {
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
}

.error-msg {
  font-size: 1.2rem;
  color: $color-error;
  margin-top: 0.8rem;
  text-align: left;
}
