@import '@/styles/variables';

.container {
  height: 8rem;
  background-color: $color-white;
}

.legal {
  font-size: 1.2rem;
  color: $color-text-primary-dark;
  text-align: center;
  padding: 2.5rem;
}
