@import '@/styles/variables';

.header {
  width: 100%;
  height: 8rem;
  padding: 0 10%;
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  &__logo {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.2rem;
    font-size: 3.3rem;
    color: $color-text-primary-dark;
    text-decoration: none;
    display: block;
  }
}

.nav__list {
  font-size: $nav-font-size;
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  flex: 1;
}

.list__item {
  a,
  button {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
}

.dashboard {
  top: 0;
  position: sticky;
  z-index: 40;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 1px 4px rgba($color-black, 0.05);
}
