@import '@/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 0 3.2rem;
  display: grid;
  flex-grow: 1;
  gap: 4.8rem;
  grid-template-columns: 19rem 1fr;
}

// $md === 768px
@media screen and (max-width: $md) {
  .container {
    display: block !important;
  }
}

// $sm === 640px
@media screen and (max-width: $sm) {
  .container {
    margin-top: 2.5rem;
    padding: 0 3.2rem !important;
  }
}
