@import '@/styles/variables';

.side-nav {
  font-size: $nav-font-size;
  ul {
    list-style: none;
  }

  li {
    a {
      display: inline-block;
      width: 100%;
      border: 1px solid transparent;
      padding: 0.8rem 1.2rem;
      border-radius: 8px;
      text-decoration: none;
      color: $color-text-primary-dark;
      text-align: left;

      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
    & .active {
      background-color: $color-primary;
      color: white;
    }
  }

  li:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.8rem;

  // .icon {
  //   // height: 1.3rem;
  //   // width: 1.3rem;
  //   text-align: center;
  //   svg {
  //     // height: 1.3rem;
  //     // width: 1.3rem;
  //     width: 60%;
  //     height: 60%;
  //   }
  // }
}
