@import '@/styles/variables';
@import '@/styles/mixins';

.btn {
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: $color-skeleton;
  color: $color-text-primary-dark;
  height: 5rem;
  width: 5rem;
  scale: 0.85;
  transition: scale ease 0.3s;
  cursor: pointer;

  &:hover {
    scale: 1;
  }
}

.separator {
  @include menu-separator;
}

.menu {
  width: 20rem;
  padding: 0;

  .label {
    font-weight: normal;

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;

      .username {
        font-size: 1.6rem;
        line-height: normal;
        color: $color-text-primary-dark;
        font-weight: 500;
      }

      .email {
        font-size: 1.2rem;
        line-height: normal;
        color: #334155;
      }
    }
  }
}

.item {
  @include dropdown-menu-item;
  font-size: 1.4rem;

  &:hover {
    background-color: $color-skeleton;
  }
}
