// TYPOGRAPHY
$nav-font-size: 1.4rem;

//  COLORS
$color-primary-dark: #7823b9;
$color-primary-light: #8535eb;
$color-primary-light-2: #ae7bd5;
$color-background: #f3f5fc;
$color-text-primary-dark: #201a2d;
$color-text-primary-light: #667085;

$color-black: #000;
$color-white: #fff;

$color-test: #d3e7fe;
// #48156f
