// TYPOGRAPHY
$nav-font-size: 1.4rem;

//  COLORS
$color-primary: #7823b9;
$color-primary-dark: #48156f;
$color-primary-light-1: #8535eb;
$color-primary-light-2: #ae7bd5;
$color-background: #f3f5fc;
$color-text-primary-dark: #201a2d;
$color-text-primary-light: #667085;
$color-skeleton: #e2e8f0;
$color-error: #dc2626;
$color-error-light: #ff3333;

// Devices
$sm: 40em;
$md: 48em;
